<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link
      rel="stylesheet"
      href="assets/bootstrap-5.0.2/dist/css/bootstrap.css"
    />
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          fontFamily: {
            sans: ["Roboto", "sans-serif"],
            body: ["Roboto", "sans-serif"],
            mono: ["ui-monospace", "monospace"],
          },
        },
        corePlugins: {
          preflight: false,
        },
      };
    </script>
    <title>
      Informações básicas para o acompanhamento durante o trabalho de parto
    </title>

    <meta
      name="description"
      content="O trabalho de parto é um processo fisiológico individual e natural que ocorre em cada mulher. Durante ele, o corpo da mulher é envolvido numa série de alterações físicas, emocionais e hormonais, promovendo um preparo no corpo dela, para o nascimento do bebê. Saiba como acompanhar cada passo desse processo e cooperar para uma assistência de qualidade à mãe e ao bebê."
    />
    <meta
      property="og:title"
      content="Informações básicas para o acompanhamento durante o trabalho de parto"
    />
    <meta
      property="og:description"
      content="O trabalho de parto é um processo fisiológico individual e natural que ocorre em cada mulher. Saiba como acompanhar cada passo desse processo e cooperar para uma assistência de qualidade à mãe e ao bebê com essas informações básicas. Acesse agora!"
    />
    <meta
      property="og:image"
      content="https://partocomapoio.vercel.app/assets/cardeneta.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <meta
      property="og:url"
      content="https://partocomapoio.vercel.app/index_copy.html"
    />
    <meta property="og:type" content="website" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon-16x16.png"
    />
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <style>
      body {
        background: url(./assets/background.png) no-repeat;
        background-size: 100% 100% !important;
        background-position: 500px 100%;
        opacity: 1;
        padding: 0 !important;
        margin: 0 !important;
      }
      h1 {
        margin: 0 !important;
      }
    </style>
  </head>
  <body class="mix-blend-normal">
    <div id="app" class="pt-5">
      <template>
        <div
          :class="{'hidden': !isLoaded}"
          class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-black bg-opacity-40"
        >
          <h1 class="text-3xl text-gray-900">Carregando...</h1>
        </div>

        <div class="pl-5 pr-5 md:pl-60 md:pr-60" :class="{'hidden': isLoaded}">
          <div class="bg-white">
            <div class="text-center">
              <h1
                class="text-2xl pt-2 pb-2 font-bold tracking-tight text-gray-900 bg-gray-200"
              >
                {{ titulo }}
              </h1>
            </div>
          </div>
          <!-- INÍCIO -->
          <section class="" v-if="true">
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-2">
                <!-- COROUSEL -->
                <my-carousel
                  :myid="'carousel_1'"
                  :images="images.introducao"
                ></my-carousel>
              </div>

              <div
                class="col-span-5 md:col-span-3 text-xl text-justify md:indent-24 leading-8"
              >
                {{ sub_titulo }}
              </div>
            </div>
          </section>

          <!-- IDADE GESTACIONAL -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              IDADE GESTACIONAL
            </h1>
            <div class="grid grid-cols-6 mt-5">
              <div class="col-span-6 md:col-span-6 mb-4">
                <my-carousel
                  :myid="'carousel_2'"
                  :images="images.idade_gestacional"
                ></my-carousel>
                <div class="text-right font-extrabold text-sm text-gray-600">
                  Caderneta da Gestante – Ministério da Saúde/2022
                </div>
              </div>
              <div
                class="col-span-6 md:col-span-6 text-xl text-justify md:indent-24 leading-8"
              >
                {{ idade_gestacional }}
              </div>
            </div>
          </section>

          <!-- DILATAÇÃO DO COLO DO ÚTERO -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              DILATAÇÃO DO COLO DO ÚTERO
            </h1>
            <div class="grid grid-cols-4 mt-5">
              <div class="col-span-4 md:col-span-2 text-center">
                <my-carousel
                  :myid="'carousel_dilatacao'"
                  :images="images.dilatacao_do_colo_do_utero"
                ></my-carousel>
                <!-- <div
                  class="flex flex-wrap justify-center mb-5 sm:mb-0 mt-4 p-2 border-2 rounded-3xl"
                >
                  <div class="flex flex-wrap gap-3 text-lg">
                    <div>
                      <div
                        style="
                          border: 22px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      1 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 20px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      2 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 18px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      3 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 16px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      4 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 14px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      5 cm
                    </div>
                  </div>
                  <div class="flex flex-wrap gap-3 text-lg mt-4">
                    <div>
                      <div
                        style="
                          border: 12px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      6 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 10px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      7 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 8px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      8 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 6px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      9 cm
                    </div>

                    <div>
                      <div
                        style="
                          border: 4px solid rgb(255, 203, 225);
                          border-radius: 100px;
                          background: rgba(255, 42, 0, 0.9);
                          width: 50px;
                          height: 50px;
                        "
                      ></div>
                      10 cm
                    </div>
                  </div>
                </div> -->
              </div>
              <div
                class="col-span-4 md:col-span-2 text-xl text-justify md:indent-24 md:pl-5 leading-8"
              >
                {{ dilatacao_do_colo_do_utero }}
              </div>
            </div>
          </section>

          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              SINAIS E SINTOMAS NATURAIS ESPERADOS
            </h1>
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-2">
                <my-carousel
                  :myid="'carousel_3'"
                  :images="images.sinais_e_sintomas_naturais_esperados"
                ></my-carousel>
              </div>
              <div
                class="col-span-5 md:col-span-3 text-xl text-justify md:indent-24 leading-8"
              >
                {{ sinais_e_sintomas_naturais_esperados }}
              </div>
            </div>
          </section>

          <!-- ALTERAÇÔES EMOCIONAIS NA MÃE -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              ALTERAÇÕES EMOCIONAIS NA MÃE
            </h1>
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-2">
                <my-carousel
                  :myid="'carousel_4'"
                  :images="images.alteracoes_emocionais_na_mae"
                ></my-carousel>
              </div>
              <div
                class="col-span-5 md:col-span-3 text-xl text-justify md:indent-24 leading-8"
              >
                {{ alter_aco_es_emocionais_na_mae }}
              </div>
            </div>
          </section>

          <!-- AJUDA DO ACOMPANHANTE -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              AJUDA DO ACOMPANHANTE
            </h1>
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-2">
                <my-carousel
                  :myid="'carousel_5'"
                  :images="images.ajuda_do_acompanhante"
                ></my-carousel>
              </div>
              <div
                class="col-span-5 md:col-span-3 mt-5 md:pl-5 text-xl text-justify md:indent-24 leading-8"
              >
                {{ ajuda_do_acompanhante }}
              </div>
            </div>
          </section>

          <!-- A MAE DEVE SE ALIMENTAR BEM -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              A MÃE DEVE SE ALIMENTAR BEM
            </h1>
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-1">
                <my-carousel
                  :myid="'carousel_6'"
                  :images="images.a_mae_deve_se_alimentar_bem"
                ></my-carousel>
              </div>
              <div
                class="col-span-5 md:col-span-4 text-xl text-justify md:pl-10 md:indent-24 leading-8"
              >
                {{ a_mae_deve_se_alimentar_bem }}
              </div>
            </div>
          </section>

          <!-- ALGUMAS POSIÇÔES DURANTE O TRABALHO DE PARTO -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-xl md:text-2xl font-extrabold text-blue-500"
            >
              ALGUMAS POSIÇÕES DURANTE O TRABALHO DE PARTO
            </h1>
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-1">
                <my-carousel
                  :myid="'carousel_7'"
                  :images="images.algumas_posicoes_durante_o_trabalho_de_parto"
                ></my-carousel>
              </div>
              <div
                class="col-span-5 md:col-span-4 text-xl text-justify md:pl-10 md:indent-24 leading-8"
              >
                {{algumas_posicoes_durante_o_trabalho_de_parto}}
              </div>
            </div>
          </section>

          <!-- AMAMENTAÇÃO -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              AMAMENTAÇÃO
            </h1>
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-2">
                <my-carousel
                  :myid="'carousel_8'"
                  :images="images.amamentacao"
                ></my-carousel>
              </div>
              <div
                class="col-span-5 md:col-span-3 text-xl text-justify md:indent-24 leading-8"
              >
                {{amamentacao_1}}
              </div>
            </div>
          </section>

          <!-- CONTATO PELE A PELE -->
          <section class="mt-10" v-if="true">
            <h1
              class="text-center text-lg md:text-2xl font-extrabold text-blue-500"
            >
              CONTATO PELE A PELE
            </h1>
            <div class="grid grid-cols-5 mt-5">
              <div class="col-span-5 md:col-span-2">
                <my-carousel
                  :myid="'carousel_9'"
                  :images="images.contato_pele_a_pele"
                ></my-carousel>
              </div>
              <div
                class="col-span-5 md:col-span-3 text-xl text-justify md:indent-24 leading-8"
              >
                {{contato_pele_a_pele}}
              </div>
            </div>
          </section>
        </div>
        <!-- Footer container -->
        <footer :class="{'hidden': isLoaded}">
          <div class="w-full mt-10">
            <!--Copyright section-->
            <div
              class="bg-neutral-200 p-4 pt-1 text-center text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200"
            >
              <p class="mt-2 text-xs text-center border-gray-200">
                <a href="https://www.unitins.br/nPortal/" target="_blank">
                  <img
                    src="assets/logo_marca_Unitins_2021-removebg-preview.png"
                    class="w-20 mx:auto border-gray-200"
                    style="margin: 0px auto"
                    alt=""
                  />
                </a>
              </p>
              <p class="text-xs">
                Pós-Graduação em Saúde Coletiva em Saúde da Família
              </p>
              <p class="text-xs">Orientador: Dhonel Oliveira da Silva</p>
              <p class="text-xs">Pós-Graduanda: Iara Brito de Sousa Xavier</p>
              <p class="text-xs">Augustinópolis-TO / 2023</p>
              <p class="mt-5 text-xs">
                Créditos ao meu esposo —
                <a
                  href="tel:63999364840"
                  title="Fale com o desenvolvedor."
                  class="text-blue-900"
                  >Taffarel Xavier</a
                >
                — por me ajudar a construir esta página. ❤
              </p>
            </div>
          </div>
        </footer>
      </template>
    </div>
    <script src="assets/bootstrap-5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script> -->
    <script src="assets/js/app.js"></script>
  </body>
</html>
